

a.btn {

    text-decoration: none;
}

.btn-lg {

    box-shadow: 0 1px 14px 1px rgba(0,0,0,0.15);
    -webkit-font-smoothing: antialiased;
}

.btn-outline-success {

    box-shadow: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: pem(20, 16);
    
    &:hover {

        color: #FFF;
    }
}

.btn-icon {

    svg {

        fill: $primaryHighlight;

        transition: fill .15s ease-in-out;
    }


    &:hover svg {
    
        fill: $secondaryHighlight;
    }
}