.text-primary {

    color: $primaryHighlight;
}

.text-secondary {

    color: $secondaryHighlight;
}

.text-base {

    color: $textColor;
}

.field-primary {

    background-color: $primaryHighlight;
}

.field-secondary {

    background-color: $secondaryHighlight;
}

.field-light {

    background-color: $lightSectionColor;
}