---
title: Meenta.io
published: true
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Meenta — Send samples, not emails.</title>
	<meta name="description" content="Meenta is the world first instrument sharing services for Next Generation Sequencing.">
	{% include head.html %}
</head>
<body class="page-home">
	{% include nav.html %}
	<div class="jumbotron jumbotron-fluid section-spacer bg-primary text-white">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 tick tick-secondary-highlight">
					<h3><strong>About Meenta</strong></h3>
					<h3>Accelerating Science Research Outcomes Enabling Personalized Medicine</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container section-spacer">
		<div class="row">
			<div class="col-md-12 col-lg-10 offset-lg-1 tick text-primary text-center">
				<h2>Why Meenta</h2>
			</div>
			<div class="col-md-8 offset-md-2 text-base">
				<h4>There is no viable alternative to trial-and-error medicine for many diseases today. We still now little about their causes, about the biological markers of their presence or stage, and about the factors that influence the effectiveness of possible remedies.</h4>
				<h4>Meenta is here to enable life science acceleration - enabling scientists to speed up their research and discoveries to empower the next phase of Personalized Medicine .</h4> 
			</div>
		</div>
	</div>

	<div class="container-fluid bg-light section-spacer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 tick text-primary">
					<h2 class="sp-pos-0">The Team</h2>
				</div>
				<div class="col-md-9 col-lg-6">
					<p class="sp-pre-1">Donec id dui quis mi mollis commodo eget dictum felis. In eget lorem ac nibh maximus varius.</p>
				</div>
			</div>
			<div class="row">

				<div class="media col-md-6">
					<img src="..." alt="Generic placeholder image">
					<div class="media-body">
						<h5 class="mt-0">Media heading</h5>
						<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
					</div>
				</div>


			</div>
		</div>
	</div>

	<div class="container-fluid section-spacer border-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12 tick text-primary">
					<h2 class="sp-pos-0">Techstars 2018</h2>
				</div>
				<div class="col-md-9 col-lg-6">
					<p class="sp-pre-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis in velit ut cursus. Phasellus dignissim erat rhoncus, sollicitudin metus non, feugiat lectus. Aenean sagittis eros id purus tincidunt, vel tempus nisl ornare. Pellentesque auctor libero ut aliquet tincidunt. Mauris fermentum a nibh eget ultrices. Maecenas iaculis odio in bibendum pharetra.</p>
				</div>
			</div>
		</div>
	</div>

	{% include subscribe.html %}

	<script src="/scripts/search.js"></script>

	{% include footer.html %}
</body>
</html>
