---
layout: default
title: FAQs and Articles
summary: Learn more about Meenta and how hosts and users manage spare capacity.
tag: help questions
---

<br>

<div class="row">
	<div class="col-md-3">
		<input type="text" class="algolia__input js-algolia__input" autocomplete="off" name="query" placeholder="Search faqs..." />
		<p>
			Got questions about meenta? Here are some
			common questions. When you need to know more
			try a search for the terms that match your question.
		</p>
		<p>
			<a href="/api" style="text-decoration: none;" class="question">
				API Documentation
			</a>
		</p>
	</div>
	<div class="col-md-9">
		<div class="algolia__initial-content js-algolia__initial-content">
			<a href="" style="color: #5D5D5D; text-decoration: none; float: right;" class="showAll">Show All</a>

			<ul class="faqs">
				{% assign sortedFaqs = site.faqs | sort: 'title' %}
				{% for faq in sortedFaqs %}
				<li>
					<span class="question" style="padding-bottom: 10px; margin-bottom: 10px !important;">{{ faq.title }}</span>
					<div class="answer" style="display: none !important;">
						{{ faq.content }}
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="algolia__search-content js-algolia__search-content">
			<a href="" style="color: #5D5D5D; text-decoration: none; float: right;" class="showAll">Show All</a>

			<ul class="faqs posts algolia__results"></ul>
		</div>
	</div>
</div>

{% include search.html %}
