---
title: Meenta.io
published: true
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Meenta — Send samples, not emails.</title>
	<meta name="description" content="Meenta is the world first instrument sharing services for Next Generation Sequencing.">
	{% include head.html %}
</head>
<body class="page-hosts">
	{% include nav.html %}
	<div class="jumbotron jumbotron-fluid masthead section-spacer bg-primary text-white">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 tick tick-secondary-highlight">
					<h3><strong>No more idle time.</strong></h3>
					<h3>Bring in new users, optimize your equipment utilization, and fill in the idle times.</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container section-spacer">
		<div class="row">
			<div class="col-md-12 col-lg-10 offset-lg-1 tick text-primary text-center">
				<h2>Reduce your instrument line wait times with better matching of lanes and flowcells to samples.</h2>
			</div>
		</div>
		<div class="row sp-pos-2 sp-pre-2">
			<div class="col-md-10 offset-md-1 col-lg-4 offset-lg-2">
				<h5>Eliminate Idle Time</h5>
				<ul class="hang">
					<li>Select the instrument from our virtual inventory to represent your facility.</li> 
					<li>Assign specifications to each instrument with your required sample submission criteria.</li> 
					<li>Activate the instrument and assign a run date.</li>
				</ul>
			</div>
			<div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
				<h5>Set your own price, setup, and availablity</h5>
				<ul class="hang">
					<li>Make full flow cells or any number of lanes available for booking.</li>
					<li>Get samples delivered in a pre-paid packaging to your facility.</li>
				</ul>
			</div>
		</div>
		<div class="row sp-pos-2">
			<div class="col-md-10 offset-md-1 col-lg-4 offset-lg-2">
				<h5>Instant Access to Users</h5>
				<ul class="hang">
					<li>Communicate with the scientists via our Chat application.</li>
					<li>Only Users with a validated payment method can request a booking from you, the Host.</li>
				</ul>
			</div>
			<div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
				<h5>No Hassle Payment</h5>
				<ul class="hang">
					<li>Meenta handles all the billing for you.</li>
					<li>Guests are charged once the data is of acceptable quality to them.</li>
				</ul>
			</div>
		</div>
		<div class="row justify-content-center sp-pre-4">
			<a class="btn btn-primary btn-lg" href="#" role="button">List Your Equipment</a>
		</div>
	</div>

	{% include support-callout.html style="dark" %}

	<div class="container-fluid bg-light section-spacer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 tick text-primary">
					<h2 class="sp-pos-0">Frequently Asked Questions</h2>
				</div>
				<div class="col-md-9 col-lg-6">
					<p class="sp-pre-1">Donec id dui quis mi mollis commodo eget dictum felis. In eget lorem ac nibh maximus varius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<h5>Who can be a host?</h5>
					<p>Any commercial or academic instrument owner verified by Meenta can become a Host.</p>
				</div>
				<div class="col-md-5 offset-md-1">
					<h5>How does Meenta ensure that only qualified users contact the Hosts?</h5>
					<p>While anyone can search the Meenta platform, only Users with a validated payment method can request a booking from a Host.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<h5>How does the Host get paid?</h5>
					<p>Meenta will pay you with electronic wire or check. Your payment is sent automatically within 48 hours of completion of the project.</p>
				</div>
				<div class="col-md-5 offset-md-1">
					<h5>What is the service fee Meenta charges Hosts?</h5>
					<p>Meenta takes an 8% Hosts reservation fee on every booking.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<h5>How does Meenta deliver the sample data?</h5>
					<p>Through the secure Meenta Cloud at no charge to the Host or the Scientists.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid section-spacer border-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12 tick text-primary">
					<h2 class="sp-pos-0">API &amp; SDK Documentation</h2>
				</div>
				<div class="col-md-9 col-lg-6">
					<p class="sp-pre-1">Meenta offers a REST API for user, partner and equipment integrations. To access the API you need an active account with API access enabled. Use the account API options to generate an API token. This API implements standard OAuth2 with variable rate limiting per endpoint grouping.</p>
					<a href="#" class="btn btn-outline-success sp-pre-1">https://meenta.io/api/</a>
				</div>
			</div>
		</div>
	</div>

	{% include subscribe.html %}

	<script src="/scripts/search.js"></script>

	{% include footer.html %}
</body>
</html>
