---
title: Meenta.io
published: true
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Meenta — Send samples, not emails.</title>
	<meta name="description" content="">
	{% include head.html %}
</head>
<body class="page-home">
	{% include nav.html %}

	<div class="hero container-fluid">
		<div class="container">
			<div class="row">
				<div class="hero-intro col-lg-7 col-md-9">

					<h1 class="hero-title klogotype-large">
						Sequence your samples through the cloud.
					</h1>

					<h2 class="hero-body">
						Meenta is a cloud-sequencing platform where scientists can instantly find, book and send samples to host instruments.
					</h2>

					<!-- <h2 class="hero-body">
						Meenta is a platform where scientists can instantly access
						NGS sequencing capacity on available instruments as if they were their own.
						Send samples, not emails.
					</h2> -->
				</div>
			</div>
			<div class="row">
				<div class="hero-search">
					<form id="searchForm" name="searchForm" onsubmit="searchSubmit(this);">
						<fieldset class="hero-search-text-field" style="width: 433px;">
							<label>Organization or Instrument?</label>
							<input type="text" id="q" name="q" placeholder="Enter an Organization"/>
						</fieldset>
						<fieldset class="hero-search-field hero-search-field-type" style="width: 250px;">
                <label>Read Type</label>
                <select name="rt" id="rt">
									<option value="">Any</option>
                  <option value="sr">Single Read</option>
                  <option value="pe">Paired End</option>
                </select>
            </fieldset>
						<fieldset class="hero-search-field hero-search-field-type">
                <label>Read Length</label>
                <select name="rl" id="rl">
									<option value="">Any</option>
									<option value="30">30 bp</option>
                  <option value="50">50 bp</option>
                  <option value="75">75 bp</option>
									<option value="100">100 bp</option>
									<option value="125">125 bp</option>
									<option value="150">150 bp</option>
									<option value="200">200 bp</option>
									<option value="250">250 bp</option>
                </select>
            </fieldset>
						<fieldset class="hero-search-field hero-search-field-submit">
							<input type="submit" value="Search" />
						</fieldset>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="hero-host-cta">
						<p>Have an instrument with excess capacity? <a href="https://app.meenta.io/register">Become a host</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="process container-fluid">
		<div class="container">
			<div class="process-header row visible-xs-block visible-sm-block">
				<div class="col-md-12">
					<h4>How it works</h4>
				</div>
			</div>
			<div class="process-step process-step-search row">
				<div class="process-step-image col-md-7 col-md-push-5">
					<img src="images/search-example.png" srcset="/images/search-example@2x.png 2x" alt="Search example" />
				</div>
				<div class="process-step-body col-md-5 col-md-pull-7">
					<h4 class="hidden-xs hidden-sm">How it works</h4>
					<p>Search by read type, read length, instrument type, location and date. View live instrument capacity that you can book instantly or reserve.</p>
				</div>
			</div>
			<div class="process-step process-step-book row">
				<div class="process-step-image col-md-7">
					<img src="images/book-example.png" srcset="/images/book-example@2x.png 2x" alt="Book example" />
				</div>
				<div class="process-step-body col-md-5">
					<h4>Instantly book your lanes</h4>
					<p>Choose your instruments and ship your samples. Labels, shipping, and data transfer is handled for you.</p>
				</div>
			</div>

			<div class="process-step process-step-pipeline row">
				<div class="process-step-image col-md-7 col-md-push-5">
					<img src="images/pipeline-example.png" srcset="/images/pipeline-example@2x.png 2x" alt="Pipeline example" />
				</div>
				<div class="process-step-body col-md-5 col-md-pull-7">
					<h4>Submission and Delivery Deadlines</h4>
					<p>Timeline of events that will impact your booking. <a href="/pipeline">Learn more</a></p>
				</div>
			</div>

			<div class="process-step process-step-track row">
				<div class="process-step-image col-md-5">
					<img src="images/progress-example.png" srcset="/images/progress-example@2x.png 2x" alt="Progress example" />
				</div>
				<div class="process-step-body col-md-7">
					<h4>Do it all from your phone</h4>
					<p>Monitor your samples and book lanes or accept requests from any device. Download your data from the Meenta Cloud when your data is ready.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="notice notice-book container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-7">
					<h4>Book an instrument</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 col-md-7">
					<p>Search and instantly book an instrument now. Little setup and no emails or quotes.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<a class="button button-light" href="https://app.meenta.io/register">Get started now</a>
				</div>
			</div>
		</div>
	</div>

	<div class="notice notice-host container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-7">
					<h4>Become a host</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 col-md-7">
					<p>Start utilizing excess capacity on your instruments today. Use Meenta's LIMS or connect Meenta to your existing system.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<a class="button button-dark" href="https://app.meenta.io/register">Become a host now</a>
				</div>
			</div>
		</div>
	</div>

	<script src="/scripts/search.js"></script>

	{% include footer.html %}
</body>
</html>
