---
title: Meenta.io
published: true
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Meenta — Send samples, not emails.</title>
	<meta name="description" content="Meenta is the world first instrument sharing services for Next Generation Sequencing.">
	{% include head.html %}
</head>
<body class="page-home">
	{% include nav.html %}
	<div class="jumbotron jumbotron-fluid section-spacer bg-primary text-white">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 tick tick-secondary-highlight">
					<h3>Meenta makes it fast and easy for scientists to find and instantly book available time on expensive NGS equipment.</h3>
					<h3><strong>Get samples back in 12 days. Guaranteed.</strong></h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container section-spacer">
		<div class="row">
			<div class="col-md-12 col-lg-6 tick text-primary">
				<h1>Never Wait for a Sequencer. Ever Again.</h1>
			</div>
			<div class="col-md-12 col-lg-6 text-base">
				<div class="group-spacer">
					<h4 class="sp-0">Sequence Your Samples in 12 Days, Guaranteed</h4>
					<p class="sp-pos-0">Select from the full suite Illumnia NGS instruments: MiSeq, HiSeq and NovaSeq.</p>
				</div>
				<div class="group-spacer">
					<h4 class="sp-0">Never Wait for a Price Quote Again</h4>
					<p class="sp-pos-0">All pricing is visible. You get complete visibility into the sequencing workflow. Every time you search.</p>
				</div>
				<div class="group-spacer">
					<h4 class="sp-0">Keep Your Samples Safe and Secure</h4>
					<p class="sp-pos-0">Meenta was created by scientists. We know the value of your samples. Your samples are insured for $1,000,000 should they get lost or damaged.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid bg-light">
		<div class="container section-spacer">
			<div class="row">
				<div class="col-md-12 tick text-primary">
					<h2 class="sp-pos-0">Find Your Sequencing Solution Now.</h2>
				</div>
				<div class="col-md-12 col-lg-6">
					<p class="sp-pre-1">Search by read type, read length, instrument type, location and date. View live instrument capacity that you can book instantly or reserve.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container section-spacer">
		<div class="row">
			<div class="col-md-12 col-lg-10 offset-lg-1 tick text-primary text-center">
				<h2>5 Fast and Easy Steps to Get Your Samples Back</h2>
			</div>
			<div class="col-md-10 offset-md-1 col-lg-6 offset-lg-3 text-center">
				<p class="sp-pre-1">Get on the instrument you want when you want to. Never worry about sequencing availability again or wait times.</p>
			</div>
		</div>
		<div class="row sp-pos-2">
			<div class="col-md-10 offset-md-1 col-lg-5 offset-lg-1">
				<img class="float-left" src="images/sample-step-1.png" srcset="images/sample-step-1@2x.png 2x, images/sample-step-1@3x.png 3x" alt="Sequencing instrument icon with the step number one.">
				<div class="ov-hidden">
					<h5>Find Your Instrument</h5>
					<p>Search by read type, read length, instrument type, location and date.</p>
				</div>
			</div>
			<div class="col-md-10 offset-md-1 col-lg-5 offset-lg-0">
				<img class="float-left" src="images/sample-step-2.png" srcset="images/sample-step-2@2x.png 2x, images/sample-step-2@3x.png 3x" alt="Multiple sequence booking cards with the step number two.">
				<div class="ov-hidden">
					<h5>Instantly Book Your Lanes</h5>
					<p>The sample must arrive at the host two days before the run date.</p>
				</div>
			</div>
		</div>
		<div class="row sp-pos-2">
			<div class="col-md-10 offset-md-1 col-lg-5 offset-lg-1">
				<img class="float-left" src="images/sample-step-3.png" srcset="images/sample-step-3@2x.png 2x, images/sample-step-3@3x.png 3x" alt="Cold shipping container icon with the step number three.">
				<div class="ov-hidden">
					<h5>Ship</h5>
					<p>Use Meenta barcodes to send your samples to your facility of choice: We’ve got shipping covered with our printable barcodes. We’ll track your samples all the way to data download.</p>
					<p><strong>Cancel If You Need To:</strong> Cancel within 48 hours of the Order Date with no penalty. <a href="#">Read our FAQ</a></p>
				</div>
			</div>
			<div class="col-md-10 offset-md-1 col-lg-5 offset-lg-0">
				<img class="float-left" src="images/sample-step-4.png" srcset="images/sample-step-4@2x.png 2x, images/sample-step-4@3x.png 3x" alt="Illustration of eight lanes with the step number four.">
				<div class="ov-hidden">
					<h5>Sequence</h5>
					<p>Two days to run your sample analysis—yes, two days is the date range in which your samples will start on the instrument. 10 days max to get your data delivered available to download</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-5">
				<img class="float-left" src="images/sample-step-5.png" srcset="images/sample-step-5@2x.png 2x, images/sample-step-5@3x.png 3x" alt="Cloud icon with a down arrow and the step number five.">
				<div class="ov-hidden">
					<h5>Get Your Data</h5>
					<p>Download it from the Meenta Cloud: Data transfer is on us. We will notified once your data is complete and ready for your download.</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center sp-pre-4">
			<a class="btn btn-primary btn-lg" href="#" role="button">Start Sequencing Now</a>
		</div>
	</div>

	{% include map-callout.html %}

	{% include subscribe.html %}

	<script src="/scripts/search.js"></script>

	{% include footer.html %}
</body>
</html>
