---
title: Meenta.io
published: true
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Meenta — Send samples, not emails.</title>
	<meta name="description" content="Meenta is the world first instrument sharing services for Next Generation Sequencing.">
	{% include head.html %}
</head>
<body class="page-home">
	{% include nav.html %}
	<div class="jumbotron jumbotron-fluid section-spacer sp-pos-0 bg-primary text-white">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 tick tick-secondary-highlight">
					<h3><strong>Valuable Resources for the NGS Community</strong></h3>
				</div>
			</div>
		</div>
	</div>

	{% include map-callout.html style="secondary" %}

	<div class="container-fluid section-spacer border-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12 tick text-primary">
					<h2 class="sp-pos-0">Frequently Asked Questions</h2>
				</div>
				<div class="col-md-9 col-lg-6">
					<p class="sp-pre-1">Donec id dui quis mi mollis commodo eget dictum felis. In eget lorem ac nibh maximus varius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<h5>Who can be a host?</h5>
					<p>Any commercial or academic instrument owner verified by Meenta can become a Host.</p>
				</div>
				<div class="col-md-5 offset-md-1">
					<h5>How does Meenta ensure that only qualified users contact the Hosts?</h5>
					<p>While anyone can search the Meenta platform, only Users with a validated payment method can request a booking from a Host.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<h5>How does the Host get paid?</h5>
					<p>Meenta will pay you with electronic wire or check. Your payment is sent automatically within 48 hours of completion of the project.</p>
				</div>
				<div class="col-md-5 offset-md-1">
					<h5>What is the service fee Meenta charges Hosts?</h5>
					<p>Meenta takes an 8% Hosts reservation fee on every booking.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<h5>How does Meenta deliver the sample data?</h5>
					<p>Through the secure Meenta Cloud at no charge to the Host or the Scientists.</p>
				</div>
				<div class="col-md-5 offset-md-1">
					<h5>What is the service fee Meenta charges Hosts?</h5>
					<p>Meenta takes an 8% Hosts reservation fee on every booking.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<h5>How does Meenta deliver the sample data?</h5>
					<p>Through the secure Meenta Cloud at no charge to the Host or the Scientists.</p>
				</div>
				<div class="col-md-5 offset-md-1">
					<h5>What is the service fee Meenta charges Hosts?</h5>
					<p>Meenta takes an 8% Hosts reservation fee on every booking.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<h5>How does Meenta deliver the sample data?</h5>
					<p>Through the secure Meenta Cloud at no charge to the Host or the Scientists.</p>
				</div>
				<div class="col-md-5 offset-md-1">
					<h5>What is the service fee Meenta charges Hosts?</h5>
					<p>Meenta takes an 8% Hosts reservation fee on every booking.</p>
				</div>
			</div>
		</div>
	</div>

	{% include subscribe.html %}

	<script src="/scripts/search.js"></script>

	{% include footer.html %}

</body>
</html>
