---
title: Meenta.io
published: true
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Meenta — Send samples, not emails.</title>
	<meta name="description" content="Meenta is the world first instrument sharing services for Next Generation Sequencing.">
	{% include head.html %}
</head>
<body class="page-home">
	{% include nav.html %}
	<div class="jumbotron jumbotron-fluid section-spacer bg-primary text-white">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 tick tick-secondary-highlight">
					<h3><strong>Sequence. Fast.</strong></h3>
					<h3>Meenta believes that scientists need to be freed up to focus on discoveries, not searching, finding or booking equipment.</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container section-spacer">
		<div class="row">
			<div class="col-md-12 col-lg-10 offset-lg-1 tick text-primary text-center">
				<h2>Our online platform enables you to find, book and send samples to host instruments.</h2>
			</div>
			<div class="col-md-8 offset-md-2 text-base">
				<h4>Through Meenta, finding scientific equipment is as easy as spinning up servers on Amazon Cloud: just book an instrument when you need it and pay as you go.</h4> 
				<h4>Our initial application makes Next-generation sequencing instruments accessible through our online booking platform.</h4>
				<h4>
					<ul>
						<li>No more requesting quotes or sending e-mails to multiple NGS service providers for pricing and availability.</li>
						<li>Just type your read length, read type, run mode.</li>
						<li>Select your instrument and we drop ship the sample to the service lab for you.</li>
					</ul>
				</h4>
			</div>
		</div>
		<div class="row justify-content-center sp-pre-4">
			<a class="btn btn-primary btn-lg" href="#" role="button">Start Sequencing Now</a>
		</div>
	</div>

	<div class="container-fluid section-spacer">
		<div class="container bg-light">
			<div class="row">
				<div class="col-md-7 offset-md-1">
					<h4 class="sp-pos-0 text-secondary">Need help with your experiement design?</h4>
					<p class="sp-pre-1 sp-pos-3">We are happy to help. Start a chat, email or give us a call. Of course, we also have FAQs that are always available.</p>
				</div>
				<div class="col-md-4">
					<dl class="row">
						<dt class="col-4">Email us</dt>
						<dd class="col-8"><a href="mailto:support@meenta.com">support@meenta.com</a></dd>
					</dl>
					<dl class="row">
						<dt class="col-4">Chat</dt>
						<dd class="col-8"><a href="#">Start a Chat</a></dd>
					</dl>
					<dl class="row">
						<dt class="col-4">Phone</dt>
						<dd class="col-8"><a href="tel:+16175319760">(617) 531-9760</a></dd>
					</dl>
				</div>
			</div>
		</div>
	</div>

	{% include map-callout.html %}

	{% include subscribe.html %}

	<script src="/scripts/search.js"></script>

	{% include footer.html %}
</body>
</html>
