---
layout: default
title: FAQs and Articles
summary: Learn more about Meenta and how hosts and users manage spare capacity.
tag: help questions
---

<br>

<div class="row">
	<div class="col-md-3">


		<input type="text" class="algolia__input js-algolia__input" autocomplete="off" name="query" placeholder="Search in this site..." />

		<p>
			Got questions about meenta? Here are some
			common questions. When you need to know more
			try a search for the terms that match your question.
		</p>

	</div>
	<div class="col-md-8">

		<div class="algolia__initial-content js-algolia__initial-content">
			<div class="posts">

				<p>
					Before you search, here are some blog posts
					and articles you might want to read.
				</p>

				<a href="/api" style="font-size: 18px; font-weight: bold; color: #5D5D5D; text-decoration: none">
					API Documentation
				</a>
				<p>
					Need to integrate? Our API documentation is a good
					place to find tools and SDKs to leverage the platform.
				</p>

				{% for post in site.posts %}
				<a href="{{ post.url }}" style="font-size: 18px; font-weight: bold; color: #5D5D5D; text-decoration: none">
					{{ post.title }}
				</a>
				<p>{{ post.summary }}</p>
				{% endfor %}

				</ul>

			</div>
		</div>

		<div class="algolia__search-content js-algolia__search-content">
			<div class="posts algolia__results"></div>
		</div>

	</div>
</div>

{% include search.html %}
