<footer class="container-fluid bg-light">
	<div class="container section-spacer">
		<div class="row sp-pos-2">
			<div class="col">
				<h1 class="logotype-medium logotype-dark tagline tagline-dark"><a href="/">Meenta</a></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<p>71 Commercial St. #271</br>Boston MA 02109</p>
				<p>Contact us at <a href="#">support@meenta.com</a></p>
				<p>Copyright &copy; 2018 Meenta</p>
			</div>
			<div class="col-md-3">
				<div class="border-left">
					<ul class="list-unstyled">
						<li><a href="#">Instrument Map</a></li>
						<li><a href="#">For <strong>Scientists</strong></a></li>
						<li><a href="#">For <strong>Instrument Hosts</strong></a></li>
						<li><a href="#">About Meenta</a></li>
						<li><a href="#">Resources</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="border-left">
					<ul class="list-unstyled">
						<li><a href="#">User Terms</a></li>
						<li><a href="#">Host Terms</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">API</a></li>
						<li><a href="#">FAQs</a></li>
						<li><a href="#">Team</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="border-left">
					<img src="images/techstars-logo.png" srcset="images/techstars-logo@2x.png 2x" alt="Techstars logo">
					<p>Proud participant of Techstars 2018, Q1</p>
				</div>
			</div>
		</div>
	</div>
</footer>