
{% assign class = "map-callout-primary" %}

{% if include.style == 'secondary' %}
	{% assign class = "map-callout-secondary" %}
{% endif %}

<div class="jumbotron jumbotron-fluid map-callout {{ class }} section-spacer bg-primary text-white">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 tick text-center tick-secondary-highlight">
				<h2>Explore the NGS Instrument Map</h2>
			</div>
			<div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 text-center">
				<p class="sp-pre-1 text-white">View all live instruments available in the US now: Over 550 instruments mapped.</p>
			</div>
		</div>
		<div class="row justify-content-center sp-pre-4">
			<a class="btn btn-success btn-lg text-white" href="#" role="button">Explore the Map</a>
		</div>
	</div>
</div>