<script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
<script src="/scripts/profile.js"></script>
<header class="header container-fluid">
	<div class="container">
		<div class="row">
			<div class="header-logo col-md-3 col-sm-3 col-xs-12">
				<h1 class="logotype-small tagline"><a href="/">Meenta</a></h1>
			</div>
			<nav class="nav header-nav col-md-9 col-sm-9 col-xs-12" data-ng-app="mtprofile">
				<ul>
					<li>
						<a href="https://map.meenta.io/?utc-source=site" title="NGS Instrument Map of the United States">Instrument Map</a>
					</li>
					<li {% if page.url == '/scientists/' %} class="selected" {% endif %}>
						<a href="/scientists" title="Meenta for Scientists">For <em>Scientists</em></a>
					</li>
					<li {% if page.url == '/hosts/' %} class="selected" {% endif %}>
						<a href="/hosts" title="Meenta for Instrument Hosts">For <em>Instrument Hosts</em></a>
					</li>
					<li {% if page.url == '/about/' %} class="selected" {% endif %}>
						<a href="/about" title="About Meenta">About Meenta</a>
					</li>
					<li {% if page.url == '/resources/' %} class="selected" {% endif %}>
						<a href="/resources" title="Resources">Resources</a>
					</li>
					<li class="nav-cta">
						<profile title="Sign Up">...</profile>
					</li>
				</ul>
				<button id="mobile-nav-button" class="header-nav-menu hamburger hamburger--squeeze" type="button">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
			</nav>
		</div>
	</div>
	<nav class="nav mobile-header-nav">
		<ul>
			<li>
				<a href="https://map.meenta.io/?utc-source=site" title="NGS Instrument Map of the United States">Instrument Map</a>
			</li>
			<li {% if page.url == '/scientists/' %} class="selected" {% endif %}>
				<a href="/scientists" title="Meenta for Scientists">For <em>Scientists</em></a>
			</li>
			<li {% if page.url == '/hosts/' %} class="selected" {% endif %}>
				<a href="/hosts" title="Meenta for Instrument Hosts">For <em>Instrument Hosts</em></a>
			</li>
			<li {% if page.url == '/about/' %} class="selected" {% endif %}>
				<a href="/about" title="About Meenta">About Meenta</a>
			</li>
			<li {% if page.url == '/resources/' %} class="selected" {% endif %}>
				<a href="/resources" title="Resources">Resources</a>
			</li>
			<li class="nav-cta">
				<profile title="Sign Up">...</profile>
			</li>
		</ul>
	</nav>
</header>
