<header class="header container-fluid">
	<div class="container">
		<div class="row">
			<div class="header-logo col-md-3 col-sm-3 col-xs-12">
				<h1 class="logotype-small"><a href="/">Meenta</a></h1>
			</div>
			<nav class="header-nav col-md-9 col-sm-9 col-xs-12">
				<ul>
					<li {% if page.url == '/how-to-book/' %} class="selected" {% endif %}><a href="/how-to-book">For Scientists</a></li>
					<li {% if page.url == '/become-a-host/' %} class="selected" {% endif %}><a href="/become-a-host">For Service Providers</a></li>
					<!-- <li><a href="http://blog.meenta.io" target="_blank">Blog</a></li> -->
					<!-- <li {% if page.url == '/resources/' %} class="selected" {% endif %}><a href="/resources">Resources</a></li> -->
					<li style="color: white">
						<span style="color: light-gray; position: absolute; font-size: 10px; top: 12px;">Need help?</span>
						<span>617-531-9760</span>
					</li>
					<li style="background-color:white; border-radius: 5px; padding: 5px 12px; color: #2977D2;">
						<a style="color: #2977D2; font-weight: bold;" id="GoToSite" href="/search">
							Get Started
						</a>
					</li>
				</ul>
				<a id="mobile-nav-button" class="header-nav-menu" href="#">Menu</a>
			</nav>
		</div>
	</div>
	<nav class="mobile-header-nav">
		<ul>
			<li {% if page.url == '/how-to-book/' %} class="selected" {% endif %}><a href="/how-to-book">How to Book</a></li>
			<li {% if page.url == '/become-a-host/' %} class="selected" {% endif %}><a href="/become-a-host">Become a Host</a></li>
			<li {% if page.url == '/blog/' %} class="selected" {% endif %}><a href="/blog">Blog</a></li>
			<li {% if page.url == '/resources/' %} class="selected" {% endif %}><a href="/resources">Resources</a></li>
			<li class="strong"><a id="GoToSite" href="/search">Get Started</a></li>
		</ul>
	</nav>
</header>
