<script>
  window.ALGOLIA_CONFIG = {
    'applicationId': '{{ site.algolia.application_id }}',
    'indexName': '{{ site.algolia.index_name }}',
    'apiKey': '{{ site.algolia.read_only_api_key }}',
    'baseurl': '{{ site.baseurl }}'
  }
</script>

<script id="algolia__template-old" type="text/template">
{% raw %}
  <div class="algolia__result">
    <a class="algolia__result-link" href="{{ full_url }}#algolia:{{ css_selector }}">{{{ _highlightResult.title.value }}}</a>
    {{#posted_at}}
    <div class="algolia__result-date">{{ posted_at_readable }}</div>
    {{/posted_at}}
    <div class="algolia__result-text">{{{ _highlightResult.text.value }}}</div>
  </div>
{% endraw %}
</script>

<script id="algolia__template__faq" type="text/template">

	<li>
	{% raw %}
	<span class="question" style="padding-bottom: 10px; margin-bottom: 10px !important;">
	  {{{ _highlightResult.title.value }}}
	</span>
	<div class="answer" style="display: none !important;">
		{{{ _highlightResult.text.value }}}
		<br>
		<br>
		<a href="{{{ url }}}">Read full</a>
	</div>
	{% endraw %}
</li>

</script>

<script id="algolia__template" type="text/template">
{% raw %}
  <div>
    <a style="font-size: 18px; text-decoration: none; color: #5D5D5D; font-weight: normal ;" href="{{ full_url }}">
			{{{ _highlightResult.title.value }}}
		</a>
		<br>
		<br>
  </div>
{% endraw %}
</script>

<script id="algolia__template--no-results" type="text/template">
  No results found.
</script>

<script src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/algoliasearch/3.6.0/algoliasearch.min.js"></script>
<script src="//cdn.jsdelivr.net/algoliasearch.helper/2.1.0/algoliasearch.helper.min.js"></script>
<script src="//cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.js"></script>
<script src="//cdn.jsdelivr.net/momentjs/2.10.3/moment.min.js"></script>
<script src="/scripts/algolia.js"></script>
<link rel="stylesheet" href="/styles/algolia.css">
