
{% assign class = "" %}

{% if include.style == 'dark' %}
	{% assign class = "bg-light" %}
{% endif %}

<div class="container {{ class }} rounded callout section-spacer-mr">
	<div class="row">
		<div class="col-md-6 offset-md-1 col-lg-7 offset-lg-1">
			<h4 class="sp-pos-0 text-secondary">Need help with your experiement design?</h4>
			<p class="sp-pre-1">We are happy to help. Start a chat, email or give us a call. Of course, we also have <a href="/resources/">FAQs</a> that are always available.</p>
		</div>
		<div class="col-md-5 col-lg-4">
			<dl class="row sp-pre-3">
				<dt class="col-4">Email us</dt>
				<dd class="col-8"><a href="mailto:support@meenta.com">support@meenta.com</a></dd>
			</dl>
			<dl class="row">
				<dt class="col-4">Chat</dt>
				<dd class="col-8"><a href="#">Start a Chat</a></dd>
			</dl>
			<dl class="row">
				<dt class="col-4">Phone</dt>
				<dd class="col-8"><a href="tel:+16175319760">(617) 531-9760</a></dd>
			</dl>
		</div>
	</div>
</div>
