footer {

    p {
        @extend .font-weight-normal;
    }

    ul {

        margin-top: pem(12.0, 16.0);

        li {

            @extend p;
            margin: 0;
        }

        a {
            @extend .text-base;
            text-decoration: none;
        }
    }

    .border-left {

        padding-left: 2rem;
        height: 100%;

        @include media-breakpoint-down(sm) {
            
            padding-left: 0;
            height: auto;
            border: none !important;
        }
    }
}