.navbar {

    padding-top: 22px;
    padding-bottom: 22px;
}

.navbar-brand.logotype-small {

    margin-top: -11px;
}

.bg-dark {
    
    .nav-link {

        color: #FFF;

        &:after {

            background: #fff;
        }
    }

    .nav-item {

        &.active .nav-link:after {

            background: $green;
        }
    }

    .navbar-toggler-icon {
        
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
      
    .navbar-toggler {
        
        border-color: #FFF;
    } 
}

.nav-item {

    .nav-link {

        position: relative;
        font-size: pem(16);
        font-weight: 400;
        letter-spacing: 0.03em;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;

        em {

            font-weight: 600;
            font-style: normal;
        }

        &:after {

            position: absolute;
            bottom: 14%;
            left: 0.5rem;
            right: 0.5rem;
            height: 0px;
            content: '';
            opacity: 0;
            transform: translateY(10px);
            transition: height 0.3s, opacity 0.3s, transform 0.3s;
        }
    }

    .nav-link:hover::after,
    &.active .nav-link:after {

        height: 2px;
        opacity: 1;
        transform: translateY(5px);
    }
}