.hero {

    background: $blue url('../images/outlines.svg') no-repeat;
    position: relative;

    h1 {

        font-size: pem(58);
        line-height: pem(72, 58);
        color: #FFF;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;

        @media (max-width: $screen-xs-max) { 

            font-size: pem(36);
        }
    }

    h2 {

        font-size: pem(24);
        line-height: pem(42, 24);
        color: #FFF;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
    }

    h3 {

        font-size: pem(12);
        font-weight: 500;
        text-transform: uppercase;
        color: #FFF;
        letter-spacing: 0.25em;
    }
}