.hero {

    background: $primaryHighlight;
    position: relative;

    h1, h2, h3, h4, h5, p {

        color: #FFF;
    }

    &.hero-large {

        min-height: 530px;
    }

    .hero-content {

        margin-top: 110px;
    }
}