.map-callout {

    background-size: contain;
    background: url('../images/map-blue-background.jpg') no-repeat center center;
    
    &.map-callout-primary {

        background: url('../images/map-blue-background.jpg') no-repeat center center;
    }

    &.map-callout-secondary {

        background: url('../images/map-gray-background.jpg') no-repeat center center;
    }
}