.tick:before {

    position: absolute;
    height: 6px;
    background-color: $primaryHighlight;
    content: '';
    width: 84px;

    @include media-breakpoint-down(sm) {

        width: 72px;
    }
}

.tick.text-center:before {

    margin-left: (84px / 2) * -1;

    @include media-breakpoint-down(sm) {

        margin-left: (72px / 2) * -1;
    }
}

.tick.tick-secondary-highlight:before {

    background-color: $secondaryHighlight;
}