.tick:before {

    position: absolute;
    height: 6px;
    background-color: $primaryHighlight;
    content: '';
}

.tick.tick-secondary-highlight:before {

    background-color: $secondaryHighlight;
}

@for $i from 1 to 13 {

	.col-lg-#{nth($i, 1)}, .col-md-#{nth($i, 1)}, .col-sm-#{nth($i, 1)}, .col-xs-#{nth($i, 1)} {

        &.tick:before, .tick:before {

            width: 100%/nth($i, 1);
        }
    }
}