---
title: Meenta.io - First Time on Meenta?
published: true
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Meenta — Send samples, not emails.</title>
	<meta name="description" content="Matching the number of libraries to your application, instrument type and desired coverage can be a challenge. Our coverage calculator can help.">
	<meta name="keywords" content="NGS Applications, Human Genome, Mouse Genome, Whole Genome, Experimental Design, Pooling, Multipdex, Library Indicies">
	{% include head.html %}
</head>
<body class="page-home">
	{% include nav-landing.html %}

	<div class="hero container-fluid">
		<div class="container">
			<div class="row">
				<div class="hero-intro col-lg-7 col-md-8">
					<h1 class="hero-title kdlogotype-large">
						Need help with your library pool calculations?
					</h1>
					<h2 class="hero-body">
						Matching the number of libraries to your application,
						instrument type and desired coverage can be a challenge.
						Our coverage calculator can help.
					</h2>
					<br>
					<br>
				</div>

				<div class="col-lg-5 col-md-4 hero-intro" style="height: 50px;">
					&nbsp;
					<div class="hero-host-cta hero-title">
						<p>
							Setup an account and get started.
						</p>
						<br>
						<a class="button button-green" href="/app/#!/register/researcher">
							Get access to the Calculator
						</a>

					</div>
				</div>
			</div>
			<div>
				&nbsp;
			</div>
		</div>
	</div>
	<div class="notice notice-host container-fluid" kstyle="height: 300px;">
		<div class="container" style="margin-bottom: 40px; margin-top: 40px;">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<h4 style="margin-top: 10px; font-size: 32px; margin-bottom: 40px;">
						Why use the Meenta coverage calculator?
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<h4 style="font-size: 26px;">
						Simple to Use
					</h4>
					<p>
						Our calculator helps researcher calculate the number
						of libraries or samples that can fit on an Illumina
						lane or flow cell.
					</p>
				</div>
				<div class="col-lg-6 col-md-6">
					<h4 style="font-size: 26px;">
						Better Collaborations
					</h4>
					<p>
						Make it easy to collaborate around different
						sequencing options, prices and read requirements.
					</p>
				</div>
			</div>
		</div>
	</div>

	{% include footer-landing.html %}
</body>
</html>
