---
title: Meenta.io
published: true
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Meenta — Send samples, not emails.</title>
	<meta name="description" content="The Meenta NGS Map provides you with better usage statistics to statisfy reporting criterial.">
	<meta name="keywords" content="Next Generation Sequencing, Map of Instrument, Illumina, reporting, statistics">
	{% include head.html %}
</head>
<body class="page-home">
	{% include nav-landing.html %}

	<div class="hero container-fluid">
		<div class="container">
			<div class="row">
				<div class="hero-intro col-lg-7 col-md-8">
					<h1 class="hero-title kdlogotype-large">
						Does your funding source require you to share your instruments?
					</h1>
					<h2 class="hero-body">
						The Meenta NGS Map provides you with better usage statistics
						to statisfy reporting criterial. <a href="https://map.meenta.io" style="color: white;">View the map.</a>
					</h2>
					<br>
					<br>
					<br>
				</div>
				<div class="col-lg-5 col-md-4 hero-intro" style="height: 50px;">
					&nbsp;
					<div class="hero-host-cta hero-title">
						<a href="https://map.meenta.io" target="_blank">
							<img width="100%" src="https://map.meenta.io/static/img/ScreenFlow.fdb794e.gif">
						</a>
						<br>
						<br>
						<a class="button button-green" href="/app/#!/register/provider">
							List Your Instrument Now
						</a>
					</div>
				</div>
			</div>
			<div>
				&nbsp;
			</div>
		</div>
	</div>
	<div class="notice notice-host container-fluid" kstyle="height: 300px;">
		<div class="container" style="margin-bottom: 40px; margin-top: 40px;">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<h4 style="margin-top: 10px; font-size: 32px; margin-bottom: 40px;">
						Why get your instruments on the NGS Map?
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<h4 style="font-size: 26px;">
						Be Seen
					</h4>
					<p>
						Join the <b>300+ community</b> of cores. Service providers
						can choose to simply list their instruments, or fully register
						their instruments to be able to accept orders.
					</p>
				</div>
				<div class="col-lg-6 col-md-6">
					<h4 style="font-size: 26px;">
						Get Monthly Instrument Statistics
					</h4>
					<p>
						Registered instruments have <b>full web analytics</b>
						that provide insights into usage and level of
						interest.
					</p>

				</div>
				<!-- <div class="col-lg-4 col-md-4">
					<h4 style="font-size: 26px;">
						Generate New NGS business
					</h4>
					<p>
						When you are on our map, researchers around the
						world can see your services, check prices and
						start a collaboration to get their samples on
						your instruments.
					</p>
				</div> -->
			</div>
		</div>
	</div>

	{% include footer-landing.html %}
</body>
</html>
