---
title: Meenta.io
published: true
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Meenta — Send samples, not emails.</title>
	<meta name="description" content="Skip your CRO and all the delays.  Instantly book from among hundreds of NGS instruments in one elegant interface that’s fast, affordable, and safe.">
	<meta name="keywords" content="NGS CRO, NGS data, waitlists, sample queue, core labs, NGS Service Providers">
	{% include head.html %}
</head>
<body class="page-home">
	{% include nav-landing.html %}

	<div class="hero container-fluid">
		<div class="container">
			<div class="row">
				<div class="hero-intro col-lg-7 col-md-8">
					<h1 class="hero-title kdlogotype-large">
						Want to accelerate your Next-Generation Sequencing projects?
					</h1>
					<h2 class="hero-body">
						Skip your CRO and all the delays.  Instantly book from among
						hundreds of NGS instruments in one elegant interface that’s
						fast, affordable, and safe.
					</h2>

				</div>
				<div class="col-lg-5 col-md-4 hero-intro" style="height: 50px;">
					&nbsp;
					<div class="hero-host-cta hero-title">
						<p>
							Join the discussion and see why most projects run
							faster and cheaper through Meenta.
						</p>
						<br>
						<a class="button button-green" href="https://app.hubspot.com/meetings/gaborbethlendy/30-minute-call ..">
							Get a 30 minute consultations
						</a>
					</div>
				</div>
			</div>
			<div>
				&nbsp;
			</div>
		</div>
	</div>

	<style>
		li { color: #5D5D5D; line-height: 28px; font-size: 18px; }
	</style>

	<div class="notice notice-host container-fluid" kstyle="height: 300px;">
		<div class="container" style="margin-bottom: 40px; margin-top: 40px;">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<h4 style="font-size: 26px;">
							Why pharma is turning to virtual instruments over CROs?
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<p>
						<ul>
								<li>Vetted instruments can be spun up on demand as needed</li>
								<li>Pre-negotiated pricing</li>
						</ul>
					</p>
				</div>
				<div class="col-lg-6 col-md-6">
					<p>
						<ul>
								<li>Compliance in a box</li>
								<li>Always be first in Queue</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>
	{% include footer-landing.html %}
</body>
</html>
