---
title: Meenta.io - First Time on Meenta?
published: true
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Meenta — Send samples, not emails.</title>
	<meta name="description" content="Setup an account and get started. When you provide feedback, we thank you with 20% off your first lane of sequencing.">
	<meta name="keywords" content="New User, 20% discount, flow cell, lane, register for access, Safe, Secure, Insured"
	{% include head.html %}
</head>
<body class="page-home">
	{% include nav-landing.html %}
	<div class="hero container-fluid">
		<div class="container">
			<div class="row">
				<div class="hero-intro col-lg-7 col-md-8">
					<h1 class="hero-title kdlogotype-large">
						New users get 20% off their first sequencing.
					</h1>
					<h2 class="hero-body">
						Try out our platform, and give us feedback, and we give
						you a new user discount.
					</h2>
					<br>
					<br>
				</div>
				<div class="col-lg-5 col-md-4 hero-intro" style="height: 50px;">
					&nbsp;
					<div class="hero-host-cta hero-title">
						<p>
							Setup an account and get started. When you provide
							feedback, we thank you with 20% off your first lane
							of sequencing.
						</p>
						<br>
						<a class="button button-green" href="/app/#!/register/researcher">
							Get 20% off first lane
						</a>
					</div>
				</div>
			</div>
			<div>
				&nbsp;
			</div>
		</div>
	</div>
	<div class="notice notice-host container-fluid" kstyle="height: 300px;">
		<div class="container" style="margin-bottom: 40px; margin-top: 40px;">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<h4 style="margin-top: 10px; font-size: 32px; margin-bottom: 40px;">
						How can Meenta help you?
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<h4 style="font-size: 26px;">
						Vetted Service Providers
					</h4>
					<p>
						All our service providers have to meet our terms and conditions
						for responsiveness, timely data delivery and good data quality.
					</p>
				</div>
				<div class="col-lg-6 col-md-6">
					<h4 style="font-size: 26px;">
						Price Transparency
					</h4>
					<p>
						We require service provides to list their pricing, so you
						can compare different options at the best price.
					</p>
				</div>
			</div>
		</div>
	</div>
	{% include footer-landing.html %}
</body>
</html>
